* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

header {
  background-color: #1D90F3;
  color: #FFFE03;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.game-board {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.x-men-player-card-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 10px;
}

.x-men-cpu-card-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 10px;
}

.x-men-card {
  background-color: #1D90F3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20vw;
  height: 70vh;
  border: #0E1113 solid 5px;
  border-radius: 10px;
}
.x-men-card__name {
  color: #FFFE03;
  margin-bottom: 10px;
}
.x-men-card__img {
  height: 60%;
  width: 80%;
  border: #0E1113 solid 3px;
  border-radius: 10px;
}
.x-men-card__quote {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  background-color: #FFFE03;
  color: #0E1113;
  height: 25%;
  width: 80%;
  margin-top: 5px;
  border: #0E1113 solid 3px;
  border-radius: 10px;
}
.x-men-card__button {
  height: 40px;
  width: auto;
  background-color: #F94115;
  border: #0E1113 solid 2px;
  cursor: pointer;
  font-size: 12px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.button-container__button {
  background-color: #F94115;
  color: #0E1113;
  height: 40px;
  margin: 10px;
  width: 80px;
  font-weight: 700;
}

h3 {
  background-color: #1D90F3;
  color: #FFFE03;
  border: #0E1113 solid 3px;
  padding: 10px;
  border-radius: 20px;
  font-size: 30px;
}

.versus {
  background-color: #F94115;
  color: #0E1113;
}