* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

header {
  background-color: #1d90f3;
  color: #fffe03;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.game-board {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.x-men-player-card-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 10px;
}

.x-men-cpu-card-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 10px;
}

.x-men-card {
  background-color: #1d90f3;
  height: 680px;
  width: 500px;
  border: #0e1113 solid 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
.x-men-card__name {
  color: #fffe03;
  font-size: 50px;
}
.x-men-card__img {
  height: 70%;
  width: 80%;
  border: #0e1113 solid 3px;
  border-radius: 10px;
}
.x-men-card__quote {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  background-color: #fffe03;
  color: #0e1113;
  height: 13%;
  width: 80%;
  margin-top: 5px;
  border: #0e1113 solid 3px;
  border-radius: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.button-container__button {
  height: 40px;
  margin: 10px;
  width: 80px;
  font-weight: 700;
  border: #0e1113 solid 2px;
  cursor: pointer;
  background-color: #f94115;
  color: #0e1113;
}
.button-container__button:active {
  color: #f94115;
  background-color: #0e1113;
}

h3 {
  background-color: #1d90f3;
  color: #fffe03;
  border: #0e1113 solid 3px;
  padding: 10px;
  border-radius: 10px;
  font-size: 30px;
}

.versus {
  background-color: #f94115;
  color: #0e1113;
  border-radius: 30px;
}

/* media query for phone view */
@media only screen and (max-width: 767px) {
  header {
    font-size: 17px;
    margin-bottom: 10px;
    height: 50px;
  }
  .game-board {
    display: flex;
    flex-direction: column-reverse;
  }
  .x-men-card {
    width: 350px;
    height: 240px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .x-men-card__name {
    font-size: 25px;
    writing-mode: vertical-lr;
  }
  .x-men-card__img {
    height: 100%;
    width: 40%;
  }
  .x-men-card__quote {
    height: 80%;
    width: 30%;
  }
  .button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 30px;
  }
  .button-container__button {
    height: 40px;
    width: 80px;
  }
}

/* media query for laptop view */
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  header {
    height: 15vh;
  }
  .x-men-card {
    height: 410px;
    width: 300px;
    padding-top: 10px;
  }
  .x-men-card__name {
    font-size: 35px;
  }
  .x-men-card__img {
    height: 70%;
    width: 80%;
  }
  .x-men-card__quote {
    font-size: 12px;
    height: 15%;
    width: 80%;
    padding: 10px;
    margin-top: 5px;
  }
}
